body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#post-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
    margin: auto;
}

.post-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-title {
    font-weight: bold;
}